.container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $space-single;
  border-radius: $space-half;
  border: 1px solid $color-accent-2;

  p {
    margin: 0;
    display: flex;
    align-items: center;

    svg {
      margin-right: $space-half;
      width: 26px;
      height: 26px;
      fill: $color-accent-2;
    }
  }
}

.button {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $space-single;

  svg {
    margin-right: $space-half;
  }
}

.error {
  flex-basis: 100%;
}

.loader {
   animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
