.container {
  display: flex;
  justify-content: center;
  margin-top: $space-single;
}

.wrapper {
  padding: $space-half;
  background-color: $color-opposite-3;
  border: 1px solid $color-opposite;
  border-radius: $space-half;
}
