$color-background: rgb(124,194,170);
$color-accent: rgb(64,179,162);
$color-accent-2: rgb(132,205,202);
$color-opposite: rgb(226,125,95);
$color-opposite-2: rgb(232,168,124);
$color-opposite-3: rgb(195,141,157);

$max-width: 850px;
$space-double: 32px;
$space-single: 16px;
$space-half: 8px;
$space-quarter: 4px;
$space-container: 2.5%;